body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
}

h2 {
  color: #34495e;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.list-group-item {
  flex: 1 0 30%;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  border: none;
  padding: 10px;
  min-height: 100px;
  background-color: #f8f9fa;
  outline: 1px solid #a1a1a1;
}

h5 {
  padding-top:10px;
}

img {
  width:100%;
  border-radius: 5px;
}

.infoSelengkapnya {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.informasi {
  margin-top: 10px;
}