<h1>Detail Order</h1><br>
<h5>Anda mengorder  
<% if (orderDetails.selectPaketWisata === 'paket1') { %>
    Paket Jelajah Palembang
<% } else if (orderDetails.selectPaketWisata === 'paket2') { %>
    Paket Palembang City Tour
<% } else if (orderDetails.selectPaketWisata === 'paket3') { %>
    Paket Free and Easy Palembang Tour
<% }else if (orderDetails.selectPaketWisata === 'paket4') { %>
    Paket Eksplorasi Palembang
<% }else if (orderDetails.selectPaketWisata === 'paket5') { %>
    Paket Wisata Ceria Palembang
<% }else { %>
    Paket Wisata dan Kuliner Palembang
<% } %>
</h5>
<h6>Nama : <%= orderDetails.nama %></h6>
<h6>Email : <%= orderDetails.email %></h6>
<h6>Jumlah paket : <%= orderDetails.jumlah %></h6>
<h5>Total Harga : Rp <%= orderDetails.hargaTotal %></h5><br><br>
<h6>Terima kasih sudah mengorder paket wisata di website Pariwisata Palembang!</h6>
<a href="/paketwisata">Kembali ke Halaman Paket Wisata</a>